html, body {
	sacrifice: goat;
	font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
	font-size: 15px;
	line-height: 1.3;
	background-color: #ccc;
	margin: 0 !important;
	padding: 0 !important;
}
page[size="A4"] {
	position: relative;
	background-color: #fff;
	width: 21cm;
	height: 29.7cm;
	display: block;
	margin: 1cm auto;
	padding: 1cm 2cm;
	box-sizing: border-box;
	margin-bottom: 0.5cm;
	box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

@media print {
	@page {
		margin: 0mm;
		size: auto;
	}
	body, page[size="A4"] {
		margin: 0;
		box-shadow: 0;
		/* Thanks obama. */
		-webkit-print-color-adjust: exact;
		width: 100%;
		height: 100%;
	}
	#formpage {
		display: block !important;
	}
	#sc-container {
		display: none !important;
	}
}

@media screen and (max-device-width: 640px) {
	#sc-form {
		max-width: 95% !important;
	}
}

.falzt, .falzb, .hole {
	position: absolute;
	left: 0;
	width: 7mm;
	border-bottom: 1px black solid;
}
.falzt {
	top: 87mm;
}
.falzb {
	top: 192mm;
}
.hole {
	top: 148.5mm;
	width: 10mm;
}


.dinHead,
.dinAddrRet,
.dinAddrFwd,
.dinInfo,
.dinCont,
.dinFoot {
	position: absolute;
	/*border: 1px solid black;*/
}

.dinHead {
	top: 10mm;
	left: 25mm;
	width: 165mm;
	height: 15mm;
}

.dinHead h1 {
	margin: 0;
}
.dinHead ul {
	display: inline;
}

.dinAddrRet {
	font-size: 10px;
	padding: 3px 0 0 0;
	left: 25mm;
	top: 27mm;
	width: 85mm;
	height: 5mm;
}

.dinAddrFwd {
	left: 25mm;
	top: 37mm;
	width: 85mm;
	height: 35mm;
}

.dinInfo {
	right: 20mm;
	top: 32mm;
	width: 65mm;
	height: 40mm;
}

.dinCont {
	left: 25mm;
	top: 80.46mm;
	width: 165mm;
	height: 175mm;
}

.dinCont h3 {
	margin-top: 0;
}

.dinFoot {
	left: 25mm;
	bottom: 10mm;
	width: 165mm;
	height: 18mm;
}

.dinFoot span {
	position: absolute;
	top: 0;
}

.dinFoot #uno {
	left: 0%;
	width: 33%;
}

.dinFoot #dos {
	left: 34%;
	width: 38%;

}

.dinFoot #tres {
	left: 73%;
}


.bold { font-weight: bold; }

.underline {
	border: 0 !important;
	border-bottom: 1px solid black !important;
	background-color: #fff;
}

input[type=text],
select,
.underline {
	width: 100%;
	height: 22px;
	display: inline;
}

input[type="text"],
select {
	/* All browsers round select, iOS browsers round.. a lot?  */
	border-radius: 0;

	padding: 1px 0px;
	border: solid 1px #dcdcdc;
	border-collapse: collapse;
	transition: box-shadow 0.3s, border 0.3s;
}
input[type="text"]:focus,
input[type="text"].focus {
	border: solid 1px #707070;
	box-shadow: 0 0 5px 1px #969696;
}

.comment {
	display: block;
	width: 100%;
	resize: none;
	overflow: hidden;
	border: none;
	font-size: 14px;
	line-height: 18px;
}

#comment {
	background-size: 100% 18px;

	background-image: -moz-repeating-linear-gradient(180deg, transparent, transparent 17px, black);
	background-image: -webkit-repeating-linear-gradient(180deg, transparent, transparent 17px, black);
	background-image: -o-repeating-linear-gradient(180deg, transparent, transparent 17px, black);
	background-image: repeating-linear-gradient(180deg, transparent, transparent 17px, black);
}
#sc-comment {
	margin-top: 10px;
	height: auto !important;

	background-image: -moz-repeating-linear-gradient(180deg, transparent, transparent 17px, #dcdcdc);
	background-image: -webkit-repeating-linear-gradient(180deg, transparent, transparent 17px, #dcdcdc);
	background-image: -o-repeating-linear-gradient(180deg, transparent, transparent 17px, #dcdcdc);
	background-image: repeating-linear-gradient(180deg, transparent, transparent 17px, #dcdcdc);
	background-size: 100% 18px;
}

#qrCode {
	position: absolute;
	width: 200;
	height: 200;
	right: 0;
	bottom: 0;
}

#letterHead ul {
	list-style-type: none;
}
#letterHead ul li {
	display: inline;
}
#personalInfo div div,
.signfield {
	float: left;
	box-sizing: border-box;
	padding: 2px 2px;
}
.signfield span {
	text-align: center;
	font-size: 10px;
}
#personalInfo div div span {
	font-size: 10px;
	padding: 2px 0;
	/*margin-top: 10px;*/
}

.dinCont li {
	margin-bottom: 7px;
}

#sc-container {
	/* The sanity checker is enabled via JS.
	   This way the form can also work in tinfoil hat browsers.*/
	display: none;

	position: absolute;
	z-index: 10;
	transition: 0.5s;

	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow-y: scroll;
	background-color: #3D3D3D;
}
#sc-form {
	margin: 0 auto;
	padding: 1.5em 0;
	max-width: 30em;
	font-weight: 50;
	color: #fff;
}
#sc-form input[type=text],
#sc-form select,
#sc-form button,
#sc-form textarea   {
	-webkit-appearance: none;
	-moz-appearance : none;
	height: 44px;
	padding: 0 8px;
	margin-top: -1px;
	background-color: #3D3D3D;
	color: white;
}
#sc-form select option {
	background-color: #3D3D3D;
}
#sc-form label, .sc-payment-title  {
	margin-top: 9px;
	margin-bottom: 2px;
	display: block;
}
#show-form {
	font-size: 14px;
	color: rgba(0, 0, 0, 0.6) !important;
	background-color: #3edd55 !important;
	width: 100%;
	border: none;
	border-radius: 0;
	text-align: center;
	text-decoration: none;
}

#sc-form a:link,
#sc-form a:visited { color: #3eccdd; }
#sc-form a:hover   { color: #7FDBFF; }
#sc-form a         { color: #3eccdd;
			transition: color .1s;}


.sc-payment-switch {
	overflow: hidden;
	width: 100%;
}

.sc-payment-switch input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.sc-payment-switch label {
	padding-top: 12px;
	float: left;
	box-sizing: border-box;
	width: 50%;
	height: 44px;
	margin-bottom: 0;
	background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	text-align: center;
	border: 1px solid rgba(220, 220, 220, 0.2);*/
	transition: all 0.1s ease-in-out;
}

.sc-payment-switch label:hover {
	cursor: pointer;
}

.sc-payment-switch input:checked + label {
	background-color: #3edd55;
	-webkit-box-shadow: none;
	box-shadow: none;
}
